@import "bootstrap";
@import "bootstrap-sprockets";
@import "posts.scss";
@import "gritter";
@import "bourbon";

.custom-nav {
  margin-top: 15px;
}
.index-icon {
  font-size: 1.3em;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.delete {
  &:hover {
    text-decoration: none;
    color: #B00100;
  }
}